:root {
  --color-grey: rgb(219 215 215);
  --color-light-grey: #f9f9f9;
  --color-font: #213547;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-font);
  background-color: rgb(249 248 248);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card{
  padding: 1rem;
}

  
